.friends-display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-top: 30px;
}
.friends-display i {
  opacity: 0.4;
}
.friends-display i:first-child {
  margin-right: 5px;
}
.friends-display i:last-child {
  margin-left: 15px;
}
