.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-flower);
}
.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 500;
}
.welcome-header__text {
  width: 60%;
  font-size: 15px;
  opacity: 0.4;
  font-weight: 500;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}
.login-form__email,
.login-form__password {
  border-style: none;
  height: 50px;
  font-size: 22px;
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 10px 0px;
  font-family: var(--font-flower);
}
.login-form__email:focus,
.login-form__password:focus {
  border-bottom: 1px solid var(--eunbi);
}
.login-form__btn {
  margin-top: 40px;
  border-style: none;
  height: 50px;
  font-size: 25px;
  background-color: var(--eunbi);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: var(--font-flower);
}
